<a href="https://colab.research.google.com/github/Audreycn97/shepy/blob/main/Aula_1_shePy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Aula 1 - Phyton
Nessa aula nós iremos trabalhar com **Phyton** e realizar **operações matemáticas**

##Tipos de dados
Numéricos:
- Inteiros (**int**): 9,7, -4,-2
- Reais (**float**): 3,14; 600,4; 00; 3,4
Não numéricos:
- Texto/String (**str**): 'Phyton', 'Audrey'.
- Lógico (**bool**): True or False

##Variáveis e identificadores
Variáveis são elementos básicos na programação que armazenam dados que precisamos em nosso algoritmo.
Toda variável é caracterizada por um nome por um tipo.
Um identificador em Phyton pode conter:
- letras (de A a Z);
- dígitos de 0 a 9 
- o simbolo underscore

Regras:
-Phyton diferencia letras maiúsculas de minúsculas

In [ ]:
nome = 'Audrey'

In [ ]:
idade = 23.0

In [ ]:
type(idade)

float

In [ ]:
print ('Hello, world')

Hello, world

In [ ]:
mensagem = 'Hello world'
print (mensagem)

Hello world

In [ ]:
type(mensagem)

str

In [ ]:
print(mensagem, 'estou aprendendo a programar')

Hello world estou aprendendo a programar

In [ ]:
print('Hello,', nome,'!' )

Hello, Audrey !

In [ ]:
salario = 1245.30
type(salario)

float

In [ ]:
idade = 23
IDADE = 24

In [ ]:
print('O meu salário é', salario)

O meu salário é 1245.3

In [ ]:
print ('Olá, o meu nome é {} tenho {} mas ano que vem faço {}'. format (nome, idade, IDADE))

Olá, o meu nome é Audrey tenho 23 mas ano que vem faço 24

In [ ]:
num1 = 3
num2 = 2
soma = num1 + num2

In [ ]:
n1 = int(input('digite um número:'))
n2 = int(input('Digite um segundo número:'))
n3 = int(input('Digite um terceiro número:'))
subtração = n1 - n2 - n3
print(subtração)

digite um número:8
Digite um segundo número:5
Digite um terceiro número:3
0

In [ ]:
n1 = float(input('digite um número:'))
n2 = float(input('digite um número:'))
soma = n1 + n2
print (' A soma entre {} e {} é {}'.format (n1, n2, soma))

digite um número:6.2
digite um número:7.8
 A soma entre 6.2 e 7.8 é 14.0

In [ ]:
n1 = int(input('Digite um número: '))

antecessor = n1 - 1
sucessor = n1 + 1

print('O antecessor do número {} é {} e o sucessor é {}'.format(n1, antecessor, sucessor))

Digite um número: 5
O antecessor do número 5 é 4 e o sucessor é 6

In [ ]:
largura = float(input('digite um número:'))
altura = float(input('digite um número:'))
área = altura * largura
tinta = área/2
print ('A área entre {} de largura e {} de altura é {} e a quantidade de tinta é {} litros'. format(largura, altura, área, tinta))

digite um número:5.5
digite um número:30.1
A área entre 5.5 de largura e 30.1 de altura é 165.55 e a quantidade de tinta é 82.775 litros

In [ ]:
km = float(input('Quantos km foram percorridos? '))
days = int(input('Por quantos dias o carro foi alugado? '))

price = (days * 80) + (km * 0.20)
print('O preço a pagar é de {} reais'.format(price))

Quantos km foram percorridos? 5
Por quantos dias o carro foi alugado? 10
O preço a pagar é de 801.0 reais

In [ ]:
NOME = 'Leon'
idade = 26
profissão = 'cientista social'

In [ ]:
print('Olá, meu nome é {} , tenho {} anos e sou {}'.format (NOME, idade, profissão))

Olá, meu nome é Leon , tenho 26 anos e sou cientista social

In [ ]:
textos = 235
artigos = 3
cabe = textos / artigos
print(cabe)

78.33333333333333

In [ ]:
textos = int(input('digite um número'))
artigos = int(input('digite um número'))
cabe = textos / artigos
print('O Leon leu {} textos para compor {} de cada um dos seus {} artigos'.format (textos, artigos, cabe))

digite um número30
digite um número5
O Leon leu 30 textos para compor 5 de cada um dos seus 6.0 artigos